section {
  border: 1px solid black;
  padding: 1rem;
}

section + section {
  margin-top: 1rem;
}

.imperative {
  border-left: 0.5rem solid orange;
  padding-left: 2rem;
}

.declarative {
  border-left: 0.5rem solid green;
  padding-left: 2rem;
}